# Google Sheets Configuration
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-service-account@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_SPREADSHEET_ID=11C-PJF495WQluU2SE5XarnaGHEN7WZ5hmu1CjS_Z7J0

# Webhook Secret (para validar requests del n8n)
WEBHOOK_SECRET=tu-secreto-seguro
